// wave-1 css
.custom-shape-divider-bottom-1619961645 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1619961645 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1619961645 .shape-fill {
    fill: #FFFFFF;
}



// wave-2 css
.custom-shape-divider-top-1619962098 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1619962098 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 73px;
}

.custom-shape-divider-top-1619962098 .shape-fill {
    fill: #FFFFFF;
}

// wave-3 css
.custom-shape-divider-bottom-1619964574 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1619964574 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 73px;
}

.custom-shape-divider-bottom-1619964574 .shape-fill {
    fill: #fff;
}

// wave-4 css
.custom-shape-divider-top-1619968075 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1619968075 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 135px;
}

.custom-shape-divider-top-1619968075 .shape-fill {
    fill: #FFFFFF;
}
// wave 5 css
.custom-shape-divider-bottom-1619968148 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1619968148 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 95px;
}

.custom-shape-divider-bottom-1619968148 .shape-fill {
    fill: #FFFFFF;
}

// wave-6 css
.custom-shape-divider-bottom-1619968466 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1619968466 svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 70px;
}

.custom-shape-divider-bottom-1619968466 .shape-fill {
    fill: #FFFFFF;
}
// wave-7 css
.custom-shape-divider-top-1619968633 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1619968633 svg {
    position: relative;
    display: block;
    width: calc(121% + 1.3px);
    height: 67px;
}

.custom-shape-divider-top-1619968633 .shape-fill {
    fill: #FFFFFF;
}